<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Musicamise - Música + Camise </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/css.css">

    <!-- Custom CSS -->
  <!-- Custom CSS -->
       
   <% if(query.image) {%>
           <meta property="og:image" content="https://musicamise-game.herokuapp.com/img/<%- query.image %>"/>

    <% } else { %>
           <meta property="og:image" content="https://musicamise-game.herokuapp.com/img/downloads-bg.jpg"/>

    <% } %>

    <meta property="og:title" content="Musicamise - game"/>
    <meta property="og:type" content="article"/>

     <meta property="og:image:width" content="399" >

    <meta property="og:image:height" content="229" >

  <!--  <meta property="og:url" content="https://www.facebook.com/musicamise"  > -->

    <meta property="og:site_name" content="Musicamise" />

    <meta property="og:description" content="Musicamise + Música" >  

    <meta property="fb:app_id" content="1422062488114479" >

  
    <!-- Custom Fonts 

    -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- multistep form -->
    <h1 id="fb-welcome"></h1>
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Start your Teste</h2>
            <h3 class="fs-subtitle">This is step 0</h3>
            <input type="button" name="next" class="next action-button" value="OK" />
                        <button onclick="share()">Share</button>

        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />

        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />

        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />


        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />


        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />


        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />

        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="button" name="next" class="submit next action-button" value="submit" />
            <input type="button" name="next" class="submit next action-button" value="submit" />
            <input type="button" name="next" class="submit next action-button" value="submit" />
            <input type="button" name="next" class="submit next action-button" value="submit" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />

        </fieldset>
        <fieldset>
            <h2 class="fs-title">Final Conclusion</h2>
            <h3 class="fs-subtitle">We did it!!!</h3>
            <div class="fb-like" data-href="https://www.facebook.com/musicamise" data-layout="button_count" data-ref="teste" data-action="like" data-show-faces="true" data-share="false"></div>
            <button onclick="share()">Share</button>
        </fieldset>
    </form>
    <!-- jQuery -->
    <script src="javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <!-- jQuery easing plugin -->
    <script src="javascripts/jquery.easing.min.js" type="text/javascript"></script>
    <script src="javascripts/script.js" type="text/javascript"></script>
    </div>
</body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1422062488114479',
      xfbml      : true,
      version    : 'v2.3'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
    // FB.getLoginStatus(function(response) {
    //   // Check login status on load, and if the user is
    //   // already logged in, go directly to the welcome message.
    //   if (response.status == 'connected') {
    //     onLogin(response);
    //   } else {
    //     // Otherwise, show Login dialog first.
    //     FB.login(function(response) {
    //       onLogin(response);
    //     }, {scope: 'user_friends, email'});
    //   }
    // });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



  // Place following code after FB.init call.

function onLogin(response) {
  if (response.status == 'connected') {
    FB.api('/me?fields=first_name', function(data) {
      var welcomeBlock = document.getElementById('fb-welcome');
      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
    });
  }
}

function share(){
    resp = "Teste";
    img = "image";
    description = "description";
    FB.ui({
      method: 'share_open_graph',
      action_type: 'musicamise:share',
      action_properties:  JSON.stringify({
        'muse':{
           'og:type': 'article',
           'og:url': "https://musicamise-game.herokuapp.com/",
           'og:title': "I got "+resp+"! Which European are you destined to date?",
           'og:description': description,
           'og:image': img
          }
      })
    }, function(response){
       // response;
    });
}




</script>
</html>
